body {
    padding-top: 5rem;
    background-color: #23397d;
}

.product-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: transform 0.2s;
    margin-bottom: 20px;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-image {
    height: 250px;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

#cart-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #23397d;
    z-index: 1000;
    display: none;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}


